/*====/GENERAL STYLES====*/ 
.hidden {
    display: none;
}
 
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.image-container {
    padding-bottom: 0;
}
button {
    cursor: pointer;
    display: block;
}
h2 {
    text-align: center;
    font-family: inherit;
}
h3 {
    font-family: inherit;
    color: inherit; 
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
input {
    font-family: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*====/GENERAL STYLES====*/

/*====PAGE HEADER====*/

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manu,
.page-contacts {
    display: none;
}
.page-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
}
.logo-color {
    color: #2e2f42;;
}
.humburger {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    padding: 0;
    display: block;
    fill: #2f2f37;
}
 @media screen and (min-width: 768px) {
    .manu {
        display: flex; 
        gap: 40px;
    }
    .page-nav{
        display: flex;
        align-items: center;
    }
    .page-logo {
        margin-right: 120px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .manu-link {
        display: block;
        padding: 24px 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .item-studio {
        padding: 24px 0;
        position: relative;
        color: #404BBF;
    }
    .item-studio::after {
        content: '';
        background-color: #404BBF;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        bottom: -1px;
        left: 0;
    }
    .page-contacts {
        display: block;
        font-style: normal;
    }
    .contacts-list {
        display: flex;
        flex-direction: column; 
        justify-content: space-around; 
        gap: 12px;
    }
    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contacts-link:hover, 
    .contacts-link:focus 
    .manu-link:hover,
    .manu-link:focus {
        color: #4D5AE5;
    }
    .humburger {
       display: none;
    }
}
    @media screen and (min-width: 1158px) {
    .page-logo {
        margin-right: 56px;
        }
    .contacts-list {
        flex-direction: row;
        align-items: center; 
        gap: 40px;
        }
    .manu-link {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    } 
    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}
/*===MOBILE MENU===*/

.manu-mobal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.manu-mobal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.manu-mobal {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 72px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 320px;
    background-color: #ffffff;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.manu-mobal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #ffffff;
    stroke: #000000;
    padding: 0;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.manu-mobal-btn-icon {
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.manu-mobal-btn:hover,
.manu-mobal-btn:focus {
    background-color: #404BBF;
    border: none;
}
.manu-mobal-btn:hover + .manu-mobal-btn-icon,
.manu-mobal-btn:focus + .manu-mobal-btn-icon {
    stroke: #ffffff;
}
.mobile-page-nav {
    margin-bottom: auto;
} 
.mobile-manu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}
.mobile-manu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts-list {
    font-style: normal;
    display: flex;
    flex-direction: column;  
    gap: 24px;
    margin-bottom: 48px;
}
.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.number,
.first{
    color:#404bbf;
}
.mobile-manu-link:hover, 
.mobile-manu-link:focus, 
.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
    color: #4D5AE5;
}
.social-list.social-list-header {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
    fill:#ffffff;
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #31D0AA
}

@media screen and (min-width: 768px) {
    .manu-mobal-overlay {
       display: none;
    }
}

/*===/MOBILE MENU===*/

/*====MAIN STYLES====*/

/*====HERO STYLES=====*/

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
    url(../images/mobile/Dark-bg-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 72px 0;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}
.hero-title {
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 72px;
}
.hero-btn {
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
        url(../images/mobile/Dark-bg@2x-min.jpg);
    } 
}
@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
        url(../images/tablet/Dark-bg.tablet-min.jpg);
        padding: 112px 0;
    }
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 36px;
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
        url(../images/tablet/Dark-bg.tablet@2x.jpg);
    }
}
@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
        url(../images/desktop/Dark-bg.desktop-min.jpg);
        padding: 188px 0;
    }
    .hero-title {
        margin-bottom: 48px;
       }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
        url(../images/desktop/Dark-bg.desktop@2x.jpg);
    }
}

/*====/HERO STYLES=====*/

/*=====BENEFITS STYLES====*/

.benefits {
    padding: 96px 0;
}
.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.benefits-item-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.benefits-item-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.benefits-icon {
    display: none;
}
@media screen and (min-width: 768px) {
    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .benefits-item {
        width: calc((100% - 24px) / 2);
    }
    .benefits-item-title {
        text-align: left; 
    }
    .benefits-icon {
        display: none;
    }
}
@media screen and (min-width: 1158px) {
    .benefits {
        padding: 120px 0;
    }
    .benefits-item {
        width: calc((100% - 72px) / 4); 
    }
    .benefits-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .benefits-item-text {
        font-weight: 400;
    }
    .benefits-icon {
        height: 112px;
        background-color: #F4F4FD;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
        margin-bottom: 8px;
    }
    .benefits-item-text {
        font-weight: 400;
    }
}

/*=====/BENEFITS STYLES====*/

/*====OUR TEAM===*/

.team {
    padding: 96px 0;
    background-color: #f4f4fd;
}
.team-lot{
    padding: 0 28px;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.workers-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.workers-item {
    border-radius: 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
}
.workers-box {
    padding: 32px 16px;
}
.workers-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.workers-trade {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-item {
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
    fill: #ffffff;
}
.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
.workers-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
}
.team-lot{
    padding: 0 15px;
}
}
@media screen and (min-width: 1158px) {
.workers-list {
    flex-wrap: nowrap;
    }
}

/*====/OUR TEAM===*/

/*====OUR PORTFOLIO===*/

.portfolio {
    padding: 96px 0;
}
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.portfolio-photo-box {
    position: relative;
    overflow: hidden;
    border: transparent;
}
.ingredient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 32px 16px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .ingredient-overlay {
    transform: translateY(0);
}
.portfolio-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-comment {
    padding: 32px 16px;
}
.portfolio-comment-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-comment-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
.portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    }
.portfolio-item {
    width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .portfolio {
        padding: 120px 0;
    }
.portfolio-list {
    row-gap: 48px;
    }
.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
                0 1px 1px rgba(46, 47, 66, 0.16),
                0 2px 1px rgba(46, 47, 66, 0.08); 
    }
}

/*====/OUR PORTFOLIO===*/

/*====PAGE FOOTER===*/

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}
.logo-page {
    margin-bottom: 72px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
} 
.footer-logo-color {
    color: #f4f4fd;
}
.footer-logo-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.social-text {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
}
.social-page {
    margin-bottom: 72px;
}
.social-list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.social-link-footer {
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .social-link-footer:hover,
   .social-link-footer:focus {
    background-color: #31D0AA;
   }
.subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.subscribe-text {
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.subscribe-input {
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding: 8px 16px;
    color: #ffffff;
    display: block;
    margin-bottom: 16px;
}
.subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.subscribe-btn {
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn-icon {
    fill:#ffffff;
} 
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
.footer-box {
    padding: 0 108px;
    }
.logo-social-box {
    display: flex;
    gap: 24px;
    align-items: baseline;
    margin-bottom: 72px;
    }
.logo-page {
    max-width: 264px;
    margin-bottom: 0;
    }
.social-page {
    justify-content: start;
    margin-bottom: 0;
    }
.footer-logo {
    justify-content: start;
    }
.social-text {
    text-align: start;
    }
.subscribe-text {
    text-align: start;
    }
.subscribe-input {
    width: 264px;
    margin-bottom: 0;
    }
.subscribe-form {
    display: flex;
    gap: 24px;
    align-items: baseline;
    }
.subscribe-btn {
    margin: 0;
    } 
} 
@media screen and ( min-width: 1158px) {
.footer-box {
    padding: 0 15px;
    display: flex;
    align-items: baseline;
    max-width: 1158px;
    }
.logo-social-box {
    gap: 0;
}   
.logo-page {
    margin-right: 120px; 
    }
.social-page {
    margin-right: 80px;
    }
.social-list-footer {
    margin-bottom: 0;
    }
.footer-logo-text {
    margin-bottom: 0;
    }
    .logo-social-box {
        margin-bottom: 0;
    }
}

/*====/PAGE FOOTER===*/

/*====MODAL WINDOW===*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    height: 80%;
    min-height: 623px;
    overflow: auto;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke: #ffffff;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
   background-color: #404BBF;
   border: none;
}
.modal-btn:hover + .modal-btn-icon,
.modal-btn:focus + .modal-btn-icon {
    fill: #ffffff;
}
.modal-slogan {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.review-form-field {
    margin-bottom: 8px;
}
.review-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.review-form-input-wrapper {
    position: relative;
 }
.review-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2e2f42;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-icons {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
    outline: none;
    border-color: #4D5AE5;
}
.review-form-input:focus + .review-form-icons {
    fill: #4D5AE5;
}
.review-form-field-comment {
    margin-bottom: 16px;
}
.review-form-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    background-color: transparent;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-comment::placeholder {
    color: #8e8f99;
}
.review-form-comment:focus {
    outline: none;
    border-color: #4D5AE5; 
}
.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}
.review-form-checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.review-form-custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    cursor: pointer;
    stroke: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox-icon {
    fill: #ffffff;
}
.review-form-checkbox:checked + 
.review-form-checkbox-label > 
.review-form-custom-checkbox {
    background-color: #404bbf;
    border: none;
}
.review-form-checkbox:focus + 
.review-form-checkbox-label > 
.review-form-custom-checkbox {
    outline: 2px solid #4D5AE5;
}
.review-form-link {
    text-decoration: underline;
    color: #4d5ae5;
}
.review-form-button {
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-button:hover,
.review-form-button:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

/*====/Modal window===*/